<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
	<meta charset="utf-8"></meta>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"></meta>
	
	<title>MR Service</title>
	
  	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/ionicons/css/ionicons.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/plugins/datatables/dataTables.bootstrap.css}"></link>
  	<link rel="stylesheet" th:href="@{/plugins/select2/select2.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/plugins/datepicker/datepicker3.css}"></link>
  	<link rel="stylesheet" th:href="@{/plugins/fullcalendar/fullcalendar.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/plugins/fullcalendas/fullcalendar.print.css}"></link>
  	<link rel="stylesheet" th:href="@{/adminlte/css/AdminLTE.min.css}"></link>
  	<link rel="stylesheet" th:href="@{/adminlte/css/skins/skin-blue.min.css}"></link>
</head>

<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		
		<!-- Main Header -->
		<header class="main-header">
		
			<!-- Logo -->
			<a th:href="@{/}" class="logo">
				<span class="logo-mini"><b>MR</b></span>
				<span class="logo-lg"><b>MR</b> Service</span>
			</a>

    		<!-- Header Navbar -->
    		<nav class="navbar navbar-static-top" role="navigation">
    			<!-- Sidebar toggle button-->
    			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        			<span class="sr-only">Toggle navigation</span>
      			</a>
      			<!-- Navbar Right Menu -->
      			<div class="navbar-custom-menu">
        			<ul class="nav navbar-nav">
          				<!-- User Account Menu -->
          				<li class="dropdown user user-menu">
            				<!-- Menu Toggle Button -->
            				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
              					<!-- The user image in the navbar-->
              					<img th:src="@{/adminlte/img/user-icon.png}" class="user-image" alt="User Image"></img>
              					<!-- hidden-xs hides the username on small devices so only the image appears. -->
              					<span class="hidden-xs">Ederson Abreu</span>
            				</a>
            				<ul class="dropdown-menu">
              					<!-- The user image in the menu -->
              					<li class="user-header">
                					<img th:src="@{/adminlte/img/user-icon.png}" class="img-circle" alt="User Image"></img>
                					<p>Ederson Abreu - Web Developer
                  						<small>Membro desde Junho/2016</small>
                					</p>
              					</li>
              					<!-- Menu Footer-->
              					<li class="user-body">
                					<div class="pull-left">
                  						<a href="#" class="btn btn-default btn-flat">Perfil</a>
                					</div>
                					<div class="pull-right">
                  						<a th:href="@{/logout}" class="btn btn-default btn-flat">Sair do sistema</a>
                					</div>
              					</li>
            				</ul>
          				</li>
          				<!-- Control Sidebar Toggle Button -->
          				<li>
            				<a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          				</li>
        			</ul>
      			</div>
    		</nav>
    		
  		</header>
  		
  		<!-- Left side column. contains the logo and sidebar -->
  		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
    		<section class="sidebar">
    			<!-- Sidebar user panel (optional) -->
      			<div class="user-panel">
        			<div class="pull-left image">
          				<img th:src="@{/adminlte/img/user-icon.png}" class="img-circle" alt="User Image"></img>
        			</div>
        			<div class="pull-left info">
          				<p>Ederson Abreu</p>
          				<!-- Status -->
          				<a href="#"><i class="fa fa-group text-success"></i> Administrador</a>
        			</div>
      			</div>
      			<!-- Sidebar Menu -->
      			<ul class="sidebar-menu">
        			<li class="header">MENU PRINCIPAL</li>
        			<!-- Optionally, you can add icons to the links -->
        			<li class="treeview" th:classappend="(${currentPage} == 'agenda') ? active">
          				<a href="#"><i class="fa fa-calendar"></i><span> Agenda</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/ordemServico/agendamentos}">Agendamentos</a></li>
            				<li><a th:href="@{/ordemServico/agendar}">Agendar Visita</a></li>
          				</ul>
        			</li>
        			<li class="treeview" th:classappend="(${currentPage} == 'cliente') ? active">
          				<a href="#"><i class="fa fa-male"></i> <span> Cliente</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/cliente/form}">Cadastrar cliente</a></li>
            				<li><a th:href="@{/cliente/listar}">Listar clientes</a></li>
          				</ul>
        			</li>
        			<li class="treeview" th:classappend="(${currentPage} == 'servico') ? active">
          				<a href="#"><i class="fa fa-hand-grab-o"></i> <span> Serviço</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/servico/form}">Cadastrar serviço</a></li>
            				<li><a th:href="@{/servico/listar}">Listar serviços</a></li>
          				</ul>
        			</li>
        			<li class="treeview" th:classappend="(${currentPage} == 'ordemservico') ? active">
          				<a href="#"><i class="fa fa-wrench"></i> <span> Ordem de Serviço</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/ordemServico/form}">Abrir O.S.</a></li>
            				<li><a href="#">Listar O.S. (Abertas)</a></li>
            				<li><a href="#">Listar O.S. (Todas)</a></li>
          				</ul>
        			</li>
        			<li class="treeview" th:classappend="(${currentPage} == 'estoque') ? active">
          				<a href="#"><i class="fa fa-exchange"></i> <span> Estoque</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/item/form}">Cadastrar Item</a></li>
            				<li><a th:href="@{/item/listar}">Listar Itens</a></li>
            				<li><a th:href="@{/estoque/entrada/form}">Entrada de Itens</a></li>
            				<li><a th:href="@{/estoque/saida/form}">Saída de Itens</a></li>
          				</ul>
        			</li>
        			<li class="treeview">
          				<a href="#"><i class="fa fa-dollar"></i> <span> Financeiro</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a href="#">Caixa</a></li>
            				<li><a href="#">Contas a pagar</a></li>
            				<li><a href="#">Contas a receber</a></li>
            				<li><a href="#">Relatório</a></li>
          				</ul>
        			</li>
        			<li class="treeview">
          				<a href="#"><i class="fa fa-dollar"></i> <span> TESTES</span>
            				<span class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
          				</a>
          				<ul class="treeview-menu">
            				<li><a th:href="@{/item/listar/data}">Lista de itens (JSON)</a></li>
          				</ul>
        			</li>
      			</ul><!-- /.sidebar-menu -->
    		</section><!-- /.sidebar -->
  		</aside>

  		<!-- Content Wrapper. Contains page content -->
  		<div layout:fragment="conteudo"></div>
  		<!-- /.content-wrapper -->

  		<!-- Main Footer -->
  		<footer class="main-footer">
    		<!-- To the right -->
    		<div class="pull-right hidden-xs">Desenvolvimento da interface</div>
    		<!-- Default to the left -->
    		<strong>Copyright &copy; 2016 <a href="#">MR Service</a>.</strong> Todos os direitos reservados.
  		</footer>

  		<!-- Control Sidebar -->
  		<aside class="control-sidebar control-sidebar-dark">
    		<!-- Create the tabs -->
    		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      			<li class="active"><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    		</ul><!-- Tab panes -->
    		<div class="tab-content">
      			<!-- Stats tab content -->
      			<div class="tab-pane active" id="control-sidebar-stats-tab">Stats Tab Content</div>
      			<!-- /.tab-pane -->
      			<!-- Settings tab content -->
      			<div class="tab-pane" id="control-sidebar-settings-tab">
        			<form method="post">
          				<h3 class="control-sidebar-heading">Configurações gerais</h3>
          				<div class="form-group">
            				<p>Alguma informação sobre as configurações gerais.</p>
          				</div><!-- /.form-group -->
        			</form>
      			</div><!-- /.tab-pane -->
    		</div>
  		</aside><!-- /.control-sidebar -->
  		
  		<!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  		<div class="control-sidebar-bg"></div>
	</div><!-- ./wrapper -->

	<!-- REQUIRED JS SCRIPTS -->

	<!-- jQuery 2.2.3 -->
	<script th:src="@{/plugins/jQuery/jquery-2.2.3.min.js}"></script>
	<!-- Bootstrap 3.3.6 -->
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	<!-- DataTables -->
	<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
	<script th:src="@{/plugins/datatables/dataTables.bootstrap.min.js}"></script>
	<!-- Select2 -->
	<script th:src="@{/plugins/select2/select2.full.min.js}"></script>
	<!-- jQuery Mask-plugin -->
	<script th:src="@{/plugins/mask-plugin/mask-plugin-1.14.8.min.js}"></script>
	<!-- jQuery maskMoney -->
	<script th:src="@{/plugins/maskMoney/3.0.2/jquery.maskMoney.min.js}"></script>
	<!-- jQuery priceFormat -->
	<script th:src="@{/plugins/price-format/jquery.priceformat.min.js}"></script>
	<!-- InputMask -->
	<script th:src="@{/plugins/input-mask/jquery.inputmask.js}"></script>
	<script th:src="@{/plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
	<script th:src="@{/plugins/input-mask/jquery.inputmask.phone.extensions.js}"></script>
	<script th:src="@{/plugins/input-mask/jquery.inputmask.numeric.extensions.js}"></script>
	<script th:src="@{/plugins/input-mask/jquery.inputmask.regex.extensions.js}"></script>
	<script th:src="@{/plugins/input-mask/jquery.inputmask.extensions.js}"></script>
	<!-- bootstrap datepicker -->
	<script th:src="@{/plugins/datepicker/bootstrap-datepicker.js}"></script>
	<!-- fullcalendar -->
	<script th:src="@{/plugins/moment/2.11.2/moment.min.js}"></script>
	<script th:src="@{/plugins/fullcalendar/fullcalendar.min.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{/adminlte/js/app.min.js}"></script>
	
	<section layout:fragment="js"></section>

</body>
</html>