<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/base"
    th:with="currentPage='estoque'">
<head>
	<title>MR - Estoque</title>
</head>

<!-- Content Wrapper. Contains page content -->
<div layout:fragment="conteudo" class="content-wrapper">
	<!-- Content Header (Page header) -->
    <section class="content-header">
    	<h1>Assistência Técnica
    		<small>Lavadoras de roupa</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
			<li class="active">Here</li>
		</ol>
	</section>
	
	<!-- Main content -->
	<section class="content">
		<div class="box">
        	<div class="box-header">
              	<h3 class="box-title">Lista de entradas</h3>
            </div>
       
       		<div class="box-body">
              	<table id="itens" class="table table-bordered table-hover">
                	<thead>
                		<tr>
                  			<th>Data</th>
                  			<th>Item</th>
                  			<th>Quantidade</th>
                  			<th>Custo Und.</th>
                  			<th>Total</th>
                		</tr>
                	</thead>
                	<tbody>
                		<tr th:each="entrada: ${entradas}">
                  			<td th:text="${entrada.data} ? ${#dates.format(entrada.data, 'dd/MM/yyyy')} : '' "></td>
                  			<td th:text="${entrada.item.nome}"></td>
                  			<td th:text="${entrada.qtd}"></td>
                  			<td><span>R$ </span><span class="money" th:text="${entrada.custo}"></span></td>
                  			<td><span>R$ </span><span class="money" th:text="${entrada.qtd * entrada.custo}"></span></td>
                		</tr>
                	</tbody>
              	</table>
            </div><!-- /.box-body -->
		</div><!-- ./box -->
	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- SE NECESSÁRIO JAVASCRIPT EXTRA -->
<section layout:fragment="js">
	<script type="text/javascript">
		
		$('#itens').DataTable({
			"paging": true,
			"lengthChange": false,
			"searching": true,
			"ordering": false,
			"info": true,
			"autoWidth": false
		});
		
		$('.money').mask('000.000.000.000.000,00', {reverse: true});
	</script>
</section>

</html>