<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="layouts/base">
<head>
	<title>Página Modelo</title>
</head>

<!-- Content Wrapper. Contains page content -->
<div layout:fragment="conteudo" class="content-wrapper">
	<!-- Content Header (Page header) -->
    <section class="content-header">
    	<h1>Assistência Técnica
    		<small>Lavadoras de roupa</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
			<li class="active">Here</li>
		</ol>
	</section>
	
	<!-- Main content -->
	<section class="content">
		
		<!-- CONTEÚDO DA PÁGINA AQUI -->

	</section><!-- /.content -->
</div><!-- /.content-wrapper -->

<!-- SE NECESSÁRIO JAVASCRIPT EXTRA -->
<section layout:fragment="js">
</section>

</html>