<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/base" th:with="currentPage='ordemservico'">
<head>
<title>MR - OS</title>
</head>

<div layout:fragment="conteudo" class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Assistência Técnica <small>Lavadoras de roupa</small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i> MR App</a></li>
			<li class="active">Home</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="box box-success">
			<div class="box-header with-border">
				<h3 class="box-title">Abrir Ordem de Serviço</h3>
			</div>
			<!-- /.box-header -->
			<form th:action="@{/ordemServico/salvar}" method="post"	th:object="${ordemServico}">
				<div class="box-body">
					<div class="row">

						<div class="col-md-6">
						<input type="hidden" th:field="*{id}"></input>
							<div class="form-group">
								<label>Cliente</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span> 
									<select class="form-control" data-placeholder="Selecione um cliente" style="width: 100%;" th:field="*{cliente}" id="inputCliente">
										<option th:each="cliente : ${clientesList}" th:value="${cliente}" th:text="${cliente.nome}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Máquina</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-cube"></i></span> 
									<select class="form-control" data-placeholder="Selecione um cliente" style="width: 100%;" id="inputmaquina" th:field="*{maquina}">
										<option th:each="maquina : ${maquinasList}" th:value="${maquina}" th:text="${maquina.modelo}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Data</label>
								<div class="input-group date  input-group-lg">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input type="text" class="form-control pull-right" id="datepicker" th:field="*{data}"></input>
								</div>
							</div>
							<div class="form-group">
								<label>Servico</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-check-square-o"></i></span> 
									<select class="form-control" id="inputServico" th:field="*{servicos}">
										<option th:each="servicos : ${servicosList}" th:value="${servicos}" th:text="${servicos.descricao}"></option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Tipo de O.S.</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-tag"></i></span> 
									<select class="form-control" id="inputTipo" th:field="*{tipo}">
										<option th:each="tipo : ${tiposList}" th:value="${tipo}" th:text="${tipo.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Status</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-check-square-o"></i></span> 
									<select class="form-control" id="inputStatus" th:field="*{status}">
										<option th:each="status : ${statusList}" th:value="${status}" th:text="${status.descricao}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Itens</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-check-square-o"></i></span> 
									<select class="form-control" id="inputItem" th:field="*{itens}">
										<option th:each="itens : ${itensList}" th:value="${itens}" th:text="${itens.nome}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Defeito relatado</label>
								<div class="input-group input-group-lg">
									<span class="input-group-addon"><i class="fa fa-fw fa-pencil-square-o"></i></span>
									<textarea class="form-control " style="width: 100%;" id="inputDefeito" th:field="*{defeito}"></textarea>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-success pull-right">Agendar</button>
					<!--<a href="index.html"><button class="btn btn-warning pull-right">Cancelar</button></a>-->
				</div>
			</form>
		</div>
		<!-- /.box -->
	</section>
	<!-- /.content -->
</div>

<section layout:fragment="js">
	<script>
		$(function() {
			//Initialize Select2 Elements
			$(".select2").select2();
		});
		//Date picker
		$('#datepicker').datepicker({
			autoclose : true
		});
	</script>
</section>

</html>
